body {
        background: url("https://pixabay.com/static/uploads/photo/2014/12/23/13/43/wallpaper-578349_640.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment:fixed;
        
        padding:5px;
        font-family:sans-serif;
}

p {
font-family:sans-serif;
}

ul {
    list-style-type:none;
    
    
}

h2 {
    text-transform:uppercase;
    font-family:sans-serif;
}

h3 {
    font-variant:small-caps;
    font-family:sans-serif;
}

.contact {
    font-variant:small-caps;
}